<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <title>Bookings</title>
  </head>
  <body>
    <div class="header">
      <a href="index.html">
        <img src="../resources/logo.jpg" alt="Grand Hotels" />
      </a>
      <div class="branding">
        <h1>Grand Hotels</h1>
        <h2>Luxury living, Redefined</h2>
      </div>
      <div class="navigationglobal">
        <ul>
          <li><a href="newConnection.html">New Booking</a></li>
          <li><a href="index.html">Login</a></li>
          <li><a href="index.html">Signup</a></li>
        </ul>
      </div>
    </div>
    <div class="pagebody">
      <div class="body">
        <div class="container">
          <h2>Grand Hotel Services</h2>
          <ul>
            <li>
              Locations
              <ol>
                <li><a href="connection.html">Charlotte</a></li>
                <li><a href="connection.html">New York</a></li>
                <li><a href="connection.html">San Fransico</a></li>
              </ol>
            </li>
            <li>
              Stays
              <ol>
                <li><a href="connection.html">Make a Reservation</a></li>
                <li><a href="connection.html">Reward nights</a></li>
                <li><a href="connection.html">Manage your reservation</a></li>
              </ol>
            </li>
            <li>
              Meetings
              <ol>
                <li><a href="connection.html">Instant Booking</a></li>
                <li><a href="connection.html">Request a reservation</a></li>
              </ol>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <footer>
      <div class="leftify">
        <ul>
          <li><a href="index.html">&#169; Grand Hotels</a></li>
          <li><a href="index.html">About</a></li>
          <li><a href="index.html">Connect</a></li>
        </ul>
      </div>
      <div class="rightify">
        <ul>
          <li><a href="index.html">Facebook</a></li>
          <li><a href="index.html">Instagram</a></li>
          <li><a href="index.html">Twitter</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
