<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <title>Booking Details</title>
  </head>
  <body>
    <div class="header">
      <a href="index.html">
        <img src="../resources/logo.jpg" alt="Grand Hotels" />
      </a>
      <div class="branding">
        <h1>Grand Hotels</h1>
        <h2>Luxury living, Redefined</h2>
      </div>
      <div class="navigationglobal">
        <ul>
          <li><a href="newConnection.html">New Booking</a></li>
          <li><a href="index.html">Login</a></li>
          <li><a href="index.html">Signup</a></li>
        </ul>
      </div>
    </div>
    <div class="pagebody">
      <div class="body">
        <h2>Booking Details</h2>
        <div class="container">
          <div class="row">
            <form action="connections.html">
              <input type="submit" value="Delete" />
            </form>
            <form action="connections.html">
              <input type="submit" value="Update" />
            </form>
            <h3>Booking Details for Specific event</h3>

            <!-- <a href="connections.html"> <button></button></a>
            <a href="connections.html"> <button></button></a> -->
          </div>
          <table>
            <thead>
              <tr>
                <th class="connectionimage"></th>
                <th class="connectioncontent"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img src="../resources/conference.webp" alt="image" />
                </td>
                <td class="connectioncontent">
                  <h4>Hosted by: Anoosh Hari</h4>
                  <p>Thursday, September 16, 2021</p>
                  <p>5:30 PM - 6:30PM</p>
                  <p>Charlotte Downtown, NC</p>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="leftalign">
            <h3>Event Details</h3>
            <p>
              Creation of this event is to test my skills at HTML and CSS. I
              hope to learn more and apply the knowledge into building a great
              user interface.
            </p>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="leftify">
        <ul>
          <li><a href="index.html">&#169; Grand Hotels</a></li>
          <li><a href="index.html">About</a></li>
          <li><a href="index.html">Connect</a></li>
        </ul>
      </div>
      <div class="rightify">
        <ul>
          <li><a href="index.html">Facebook</a></li>
          <li><a href="index.html">Instagram</a></li>
          <li><a href="index.html">Twitter</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
